# This is a gitignore file. Folders and file types in here will not
# be added to version control and will not be uploaded to Github.
# For example we ignore the hidden files from Pycharm and VS Code.
.idea/
.vscode

### Also any macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
# and thumbnails
._*

# Flask stuff:
instance/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/